@media (min-width: 1024px) {
  .navbarLogoText {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .navbarLogoText {
    font-size: 13px;
  }
}

.footer {
  background: rgba(15, 25, 28, 0.9);
}
