%hero-base {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: -5% 0 0 0;
    z-index: 0;
  }

  :global {
    .usa-navbar,
    .usa-hero {
      position: relative;
      z-index: 1;
    }
  }
  section h1,
  section p {
    color: white;
    z-index: 1;
  }
}

.homepage-hero {
  @extend %hero-base;
  background: #1d2553;

  &::before {
    background: url('/images/home/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.detail-hero {
  @extend %hero-base;

  &::before {
    background: url('/images/products/detail-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.our-products-hero {
  @extend %hero-base;

  &::before {
    background: url('/images/products/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.case-studies-hero {
  @extend %hero-base;

  &::before {
    background: url('/images/case-studies/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.engage-with-us-hero {
  @extend %hero-base;

  &::before {
    background: url('/images/engage-with-us/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
