@media (min-width: 1024px) {
  .navbarLogoText {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .navbarLogoText {
    font-size: 13px;
  }
}

%hero-base {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: -1% -5% 0;
    z-index: 0;
  }

  :global {
    .usa-navbar,
    .usa-hero {
      position: relative;
      z-index: 1;
    }
  }
  section h1,
  section p {
    color: white;
    z-index: 1;
  }
}

.homepage-hero {
  @extend %hero-base;
  background: #1d2553;

  &::before {
    background: url($base-path + '/images/home/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.detail-hero {
  @extend %hero-base;

  &::before {
    background: url($base-path + '/images/products/detail-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.our-products-hero {
  @extend %hero-base;

  &::before {
    background: url($base-path + '/images/products/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.case-studies-hero {
  @extend %hero-base;

  &::before {
    background: url($base-path + '/images/case-studies/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.engage-with-us-hero {
  @extend %hero-base;

  &::before {
    background: url($base-path + '/images/engage-with-us/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.navbarLogoText {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
