.content {
  display: flex;
  padding: 0 3rem;
  align-items: center;
  gap: 3.75rem;
  max-width: 75rem;
}

.heading {
  max-width: 58.75rem;
  color: #224a58;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
