.content {
  display: flex;
  padding: 0px 30px;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
}

.heading {
  max-width: 965px;
  color: #224a58;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
