.imageCard {
  @media (min-width: 1280px) {
    border-radius: 2.5rem 0rem 2.5rem 0rem;
  }

  .imageContainer {
    @media (min-width: 1280px) {
      border-radius: 2.5rem 0rem 0rem 0rem;
      img {
        border-radius: 2.5rem 0rem 0rem 0rem;
      }
    }
    @media (max-width: 1279px) {
      margin-top: 2rem;
    }
  }

  .textBox {
    padding: 2.5rem;
  }

  .imageContainerReverse {
    @media (min-width: 1280px) {
      border-radius: 0rem 0rem 2.5rem 0rem;
      img {
        border-radius: 0rem 0rem 2.5rem 0rem;
      }
    }
  }
}

.imageCard-white {
  background: var(--card-background);
  @media (min-width: 1280px) {
    border-radius: 2.5rem 0rem 2.5rem 0rem;
  }
}

// None variant
.imageCard-none {
  background: none;
}
