@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  span,
  figcaption,
  a {
    font-family: var(--font-public-sans), sans-serif;
  }

  p {
    @apply text-[1rem];
    color: var(--blue-cool-70);
    font-family: var(--font-public-sans), sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold not-italic leading-[140%];
  }

  h1 {
    @apply text-[1.75rem] md:text-[2rem];
    color: var(--blue-cool-70);
    font-family: var(--font-merriweather), serif;
  }

  h2 {
    @apply text-[1.5rem] md:text-[1.75rem];
    color: var(--blue-cool-80);
    font-family: var(--font-public-sans), sans-serif;
  }

  h3 {
    @apply text-[1.25rem];
    color: var(--blue-cool-80);
    font-family: var(--font-public-sans), sans-serif;
  }

  h4 {
    @apply text-[1rem];
    color: var(--blue-cool-70);
    font-family: var(--font-public-sans), sans-serif;
  }

  ol,
  ul {
    color: var(--blue-cool-70);
    font-family: var(--font-public-sans), sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 150%;
    padding-left: 3ch;
    list-style: disc;
  }
}

/* --xl-breakpoint: 1280px; */
:root {
  --background: #e7f2f5;
  --card-background: #fbfbfb;
  --blue-cool-50: #3a7d95;
  --blue-cool-60: #2e6276;
  --blue-cool-80: #14333d;
  --blue-cool-70: #224a58;
  --blue-cool-80: #14333d;
  --foreground: #171717;
  --background-light-blue: #dcecf3;
  --background-dark-blue: #0e1e25;
  --ifm-color-primary: #2e8555;
  font-size: 16px; /* base value for rem */
}

html,
body {
  background: var(--background);
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main-content {
  background: var(--background);
}

.usa-logo a {
  color: #ffffff;
}

.bg-background-teal {
  background-color: var(--blue-cool-70);
}

.bg-background-dark-blue {
  background-color: var(--background-dark-blue);
}

@media (min-width: 64em) {
  .usa-logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.usa-section--light-blue {
  background-color: var(--background-light-blue);
}
