@import '@trussworks/react-uswds/lib/uswds.css';
@import '@trussworks/react-uswds/lib/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-teal: #224A58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h1 {
  margin: 2rem 0 2rem 0;
  font-size: larger;
}

.usa-logo a {
  color: #ffffff;
}

.bg-background-teal {
  background-color: var(--header-teal);
}

@media (min-width: 64em) {
    .usa-logo {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.height-100 {
  height: 100%;
}

.flex-vertical-center {
  display: flex;
  align-items: center !important;
  height: auto;
}
