@use "uswds-core" with (
    // General
    $theme-image-path: "../../../../../../dist/img",

    // Color
    // Component
    $theme-hero-image: "../../../../dist/img/hero.jpg",

    // Spacing
    $theme-grid-container-max-width: "widescreen",
    $theme-header-max-width: "widescreen",
    
    // Typography
    $theme-font-path: "../../../../../../dist/fonts",
  );