li.usa-process-list__item {
  border-left-color: #dae9ee;

  &:before {
    background-color: var(--background);
    color: #6499af;
    box-shadow: 0 0;
    border-color: #6499af;
  }

  h3 {
    color: #224a58;
  }
}

button.usa-accordion__button {
  background-color: white;
  color: #224a58;

  &:hover {
    background-color: #fbfcfc; // placeholder color
  }
}

.list__full-width {
  li {
    min-width: 100%;
  }
}
