.valueSection {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: -8px;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url($base-path + '/images/homepage-2.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 2.5rem 0rem 1.25rem 0rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);

    @media (max-width: 1280px) {
      display: none;
    }
  }
}

.invitationCtaSection {
  p {
    color: #fff;
    font-size: 1.38rem;
  }
  h2 {
    color: #fff;
    font-size: 1.75rem;
  }

  background-color: #fff;
  background-image: linear-gradient(90deg, #0081a1 2%, #005ea2 50%, #4c2b64 96%),
    url('#{$base-path}/images/homepage-3.jpeg');

  background-position:
    center,
    -7.128px -317.022px;
  background-size:
    auto,
    123.317% 245.285%;
  background-repeat: no-repeat, no-repeat;

  // Blend mode for each layer
  background-blend-mode: multiply, multiply, normal;
}
