@import '@trussworks/react-uswds/lib/uswds.css';
@import '@trussworks/react-uswds/lib/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  line-height: 26px;
}

.link:hover,
.usa-link:hover {
  color: #162E51
}

.navbar-item {
  line-height: .9;
  padding: 1rem;
  color: #565c65;
  display: block;
  font-weight: 700;
}

/* iframe:focus,
[href]:focus,
[tabindex]:focus,
[contentEditable="true"]:focus {
  outline: none !important;
  outline-offset: 0;
} */

.navbar-item:hover {
  cursor: pointer;
}

.line-height-md {
  line-height: 26px;
}

.usa-nav__link:hover::after {
  display: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

li::marker {
  font-size: 0.7em;
}

* {
  box-sizing: border-box;
}

.usa-nav-container {
  max-width: 88rem !important;
}

.usa-header {
  font-family: 'Public Sans', sans-serif !important;
}

.usa-footer {
  font-family: 'Public Sans', sans-serif !important;
}

.usa-footer__logo-heading {
  font-family: 'Public Sans', sans-serif !important;
}

.usa-nav .usa-accordion {
  font-family: 'Public Sans', sans-serif !important;
  font-size: 0.94rem !important;
}

.usa-button {
  font-family: 'Public Sans', sans-serif !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.usa-nav__link:hover::after {
  background-color: white !important;
  height: 0.12rem !important;
  bottom: 0.3rem !important;
}

h3 {
  font-size: 22px;
}

h2 {
  font-size: 32px;
}

@media (max-width: 63.99em) {
  .usa-logo__text {
    font-weight: 400 !important;
  }

  .header-line-height {
    line-height: 37.6px;
  }
}

@media (min-width: 64em) {
  .usa-logo__text {
    font-weight: 300 !important;
  }

  .header-line-height {
    line-height: 47px;
  }

  .footer-margin {
    margin-right: 120px;
  }

  .navbar-item-active,
  .navbar-item-active:hover {
    border-bottom: 2px solid white !important;
    padding-bottom: 8px;
  }
}

.usa-footer__primary-container {
  max-width: 88rem !important;
}

.usa-footer__secondary-section>.grid-container {
  max-width: 88rem !important;
}

/* .grid-container {
  max-width: 90rem !important;
} */

.usa-footer__primary-section {
  background: #162e51 !important;
}

.usa-footer__secondary-section {
  background: #162e51 !important;
}

.usa-list li {
  max-width: initial !important;
}

.usa-logo a {
  color: white !important;
}

@media (min-width: 64em) {
  .usa-header--basic .usa-navbar {
    width: 60% !important;
  }
}

@media (max-width: 63.99em) {
  .usa-nav__primary a:not(.usa-button) {
    padding: 1rem 1rem !important;
  }
}

@media (min-width: 64em) {
  .usa-nav__primary>.usa-nav__primary-item>a {
    font-weight: 600 !important;
  }
}

.usa-menu-btn {
  background-color: transparent !important;
}

.font-weight-sm {
  font-weight: 300;
}

.font-weight-md {
  font-weight: 400;
}

.usa-footer__logo-heading {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 26px !important;
}

@font-face {
  font-family: 'Public Sans';
  src: local('Public Sans'),
    url(../public/fonts/PublicSans/PublicSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 300;
  src: local('Public Sans'),
    url(../public/fonts/PublicSans/PublicSans-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 400;
  src: local('Public Sans'),
    url(../public/fonts/PublicSans/PublicSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 500;
  src: local('Public Sans'),
    url(../public/fonts/PublicSans/PublicSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 600;
  src: local('Public Sans'),
    url(../public/fonts/PublicSans/PublicSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 700;
  src: local('Public Sans'),
    url(../public/fonts/PublicSans/PublicSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 800;
  src: local('Public Sans'),
    url(../public/fonts/PublicSans/PublicSans-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-weight: 900;
  src: local('Public Sans'),
    url(../public/fonts/PublicSans/PublicSans-Black.ttf) format('truetype');
}

.font-public-sans-3xs {
  font-family: 'Public Sans', sans-serif;
  font-size: 12.4px;
}

.font-public-sans-2xs {
  font-family: 'Public Sans', sans-serif;
  font-size: 13.3px;
}

.font-public-sans-xs {
  font-family: 'Public Sans', sans-serif;
  font-size: 14px;
}

.font-public-sans-sm {
  font-family: 'Public Sans', sans-serif;
  font-size: 15.2px;
}

.font-public-sans-md {
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
}

.font-public-sans-lg {
  font-family: 'Public Sans', sans-serif;
  font-size: 21px;
}

.font-public-sans-xl {
  font-family: 'Public Sans', sans-serif;
  font-size: 30.5px;
}

.font-public-sans-2xl {
  font-family: 'Public Sans', sans-serif;
  font-size: 38.1px;
}

.font-public-sans-3xl {
  font-family: 'Public Sans', sans-serif;
  font-size: 45.7px;
}